{{# channel }}
<h2>{{{ full_link }}}</h2>
<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>{{ user_count }} users</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# users }}
    <li>{{ to_s }}</li>
  {{/ users }}
  </ul>
</div>

<!--
<p>Hostname: {{ hostname }}</p>
<p>Port: {{ port }}</p>

<h3>channels</h3>
<ul style="margin: 0;">
{{# channels }}
  <li>{{{ show_link }}}</li>
{{/ channels }}
  <li><a href="{{ show_path }}/channels/new" style="color: gray;">add channel...</a></li>
</ul>
-->

<br clear="all" />

{{/ channel }}
