{{# project }}
<h2>Recent commits to <a href="/projects/{{ slug }}">{{ title }}</a></h2>

<hr />
{{/ project }}

<table class="fixedwidth">
  <tr>
    <th width="20%">Repository</th>
    <th width="20%">Age</th>
    <th width="60%">Message</th>
  </tr>
{{# commits }}
  <tr>
    <td>{{#repo}}<a href="/projects/ooc/commits/repos/{{id}}">{{short_name}}</a>{{/repo}}</td>
    <td>{{ committed_date }}</td>
    <td>{{ short_message }} [<a href="/projects/ooc/commits/authors/{{author}}">{{author}}</a>]</td>
  </tr>
{{/ commits }}
</table>
