<style type="text/css">
.fixedwidth {
  font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 90%;
}
</style>

<table class="fixedwidth">
  <tr>
    <th width="15%">Repository</th>
    <th width="15%">Age</th>
    <th width="70%">Message</th>
  </tr>
{{# commits }}
  <tr>
    <td>{{#repo}}<a href="/projects/ooc/commits/repos/{{id}}">{{short_name}}</a>{{/repo}}</td>
    <td>{{ committed_date }}</td>
    <td>{{ short_message }} [<a href="/projects/ooc/commits/authors/{{author}}">{{author}}</a>]</td>
  </tr>
{{/ commits }}
</table>
