{{# project }}
<h2>Editing {{{ show_link }}}</h2>
<hr />

<style>
table { margin: 0 auto; }
th { text-align: right; }
td, th { width: 50%; }
</style>

<p>{{ message }}</p>

<form action="{{ edit_path }}" method="post" name="edit_project">
  <table>
    <tr>
      <th>Title:</th>
      <td><input type="text" name="title" value="{{ title }}" /></td>
    </tr>
    <tr>
      <th>Slug:</th>
      <td><input type="text" name="slug" value="{{ slug }}" /> (for use in URLs)</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Update" /></td>
    </tr>
  </table>
</form>
{{/ project }}
