<h2>Projects using FBI</h2>

{{# projects }}

<hr />

<h3>{{{ show_link }}}</h3>

<h4>Repos</h4>
<ul>
{{# repos }}
  <li>{{{ show_link }}} [<a href="{{ url }}">details</a>] [<a href="{{ repo_path }}/commits/repos/{{ slug }}">commits</a>]</li>
{{/ repos }}
</ul>

{{/ projects }}
