<h2>Projects using FBI</h2>

{{# projects }}

<hr />

<h3><a href="{{ show_path }}">{{ title }}</a></h3>

<h4>Repos</h4>
<ul>
{{# repos }}
  <li><a href="{{ show_path }}">{{ title }}</a> [<a href="{{ url }}">details</a>] [<a href="{{ repo_path }}/commits/repos/{{ slug }}">commits</a>]</li>
{{/ repos }}
</ul>

{{/ projects }}
