<h2>{{# project }}<a href="/projects/{{ slug }}">{{ title }}</a> / {{/ project }}{{# page }}{{ title }}{{/ page }}</h2>

<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>pages</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# pages }}
    <li><a href="/projects/ooc/pages/{{ slug }}">{{ title }}</a></li>
  {{/ pages }}
  </ul>
</div>

{{# page }}
{{{ contents }}}
{{/ page }}
<br clear="all" />
