<h2>{{# project }}<a href="/projects/{{ slug }}">{{ title }}</a> / {{/ project }}{{# page }}{{ title }} {{/ page }}{{# viewing }}[<a href="/projects/{{# project }}{{ slug }}{{/ project }}/pages/edit/{{# page }}{{ title }}{{/ page }}" style="font-size: small;">edit</a>]{{/ viewing }}</h2>

<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>pages</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# pages2 }}
    <li><a href="/projects/ooc/pages/show/{{ title }}">{{ title }}</a></li>
  {{/ pages2 }}
  </ul>
</div>

{{# viewing }}
  {{# page }}
    {{{ render }}}
  {{/ page }}
{{/ viewing }}

{{# editing }}
  <form method="post" action="/projects/{{# project }}{{ slug }}{{/ project }}/pages/save/{{# page }}{{ title }}{{/ page }}">
    <textarea name="contents" cols="80" rows="10">{{# page }}{{ contents }}{{/ page }}</textarea>
    <br />
    <input type="submit" value="Save" />
  </form>
{{/ editing }}

<br clear="all" />
