{{# project }}
{{# mine }}
<p style="float: right; margin: 0;">This is your project! (<a href="/projects/{{ slug }}/edit">edit project</a>)</p>
{{/ mine }}
<h2>{{ title }}</h2>
<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>code repositories</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# repos }}
    <li><a href="/projects/ooc/repos/{{ id }}">{{ short_name }}</a></li>
  {{/ repos }}
  {{# mine }}
    <li><a href="/projects/{{ slug }}/repos/new" style="color: gray;">add repo</a></li>
  {{/ mine }}
  </ul>
</div>

<p>This is a project page for {{ title }}.</p>
<p>Stuff goes here.</p>

{{# owner }}
<p>This project's administrative contact is <a href="/users/{{ username }}" title="{{ display_name }}'s Profile">{{ display_name }}</a>.</p>
{{/ owner }}

<hr />

<h3>recent commits</h3>
<ul style="margin: 0;" class="fixedwidth">
{{# commits_5 }}
  <li>{{#repo}}<a href="/projects/{{#project}}{{slug}}{{/project}}/repos/{{id}}">{{short_name}}</a>: {{/repo}}{{ short_message }} [<a href="/projects/{{#project}}{{slug}}{{/project}}/commits/authors/{{author}}">{{author}}</a>]</li>
{{/ commits_5 }}
  <li><a href="/projects/{{#project}}{{slug}}{{/project}}/commits">more...</a></li>
</ul>

<br clear="all" />

{{/ project }}
