{{# project }}
<h2>{{ title }} on FBI</h2>
This is a project page for {{ title }}.

<h3>Repos</h3>
<ul>
{{# repos }}
  <li><a href="/projects/ooc/repos/{{ id }}">{{ name }}</a> [<a href="{{ url }}">details</a>] [<a href="/projects/ooc/commits/repos/{{ id }}">commits</a>]</li>
{{/ repos }}
</ul>

{{/ project }}
