{{# project }}
{{# mine }}
<p style="float: right; margin: 0;">This is your project! (<a href="{{ edit_path }}">edit project</a>)</p>
{{/ mine }}
<h2>{{{ show_link }}}</h2>
<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>code repositories</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# repos }}
    <li>{{{ show_link }}}</li>
  {{/ repos }}
  {{# mine }}
    <li><a href="{{ show_path }}/repos/new" style="color: gray;">add repo</a></li>
  {{/ mine }}
  </ul>
</div>

<p>This is a project page for {{ title }}.</p>
<p>Stuff goes here.</p>

{{# owner }}
<p>This project's administrative contact is {{{ profile_link }}}.</p>
{{/ owner }}

<hr />

<h3>members</h3>
<ul style="margin: 0;">
{{# members }}
  <li>{{{ user_link }}} {{# owner? }}(owner){{/ owner? }}</li>
{{/ members }}
{{# mine }}
  <li><a href="{{ show_path }}/members/add" style="color: gray;">add member</a></li>
{{/ mine }}
{{# unjoined }}
  <li><a href="{{ show_path }}/members/join" style="color: gray;">join project</a></li>
{{/ unjoined }}
</ul>

<hr />

<h3>recent commits</h3>
<ul style="margin: 0;" class="fixedwidth">
{{# commits_5 }}
  <li>{{#repo}}{{{ show_link }}}: {{/repo}}{{ short_message }} [<a href="{{ show_path }}/commits/authors/{{author}}">{{author}}</a>]</li>
{{/ commits_5 }}
  <li><a href="{{ show_path }}/commits">more...</a></li>
</ul>

<br clear="all" />

{{/ project }}
