<h2>{{# project }}<a href="/projects/{{ slug }}">{{ title }}</a> / <a href="/projects/{{ slug }}{{/ project }}{{# repo }}/repos/{{ id }}/">{{ short_name }}{{/ repo }}</a></h2>
<hr />

<h3>{{ filename }}</h3>
<pre>{{ debug }}</pre>


