<h2>{{# project }}<a href="{{ show_path }}">{{ title }}</a>{{/ project }} / new repository</h2>
<hr />

<style>
table { margin: 0 auto; }
th { text-align: right; }
td, th { width: 50%; }
</style>

<p>{{ message }}</p>

{{# repo }}
<form action="{{ project_path }}/repos/new" method="post" name="new_repo">
  <table>
    <tr>
      <th>Title:</th>
      <td><input type="text" name="title" value="{{ title }}" /></td>
    </tr>
    <tr>
      <th>Slug:</th>
      <td><input type="text" name="slug" value="{{ slug }}" /> (for use in URLs)</td>
    </tr>
    <tr>
      <th>Service:</th>
      <td><input type="text" name="service" value="{{ service }}" /> (github "gh", launchpad "lp", etc.)</td>
    </tr>
    <tr>
      <th>Name:</th>
      <td><input type="text" name="name" value="{{ name }}" /> (unique identifier from the service)</td>
    </tr>
    <tr>
      <th>URL:</th>
      <td><input type="text" name="url" value="{{ url }}" /> (link to a web-based repo browser or similar)</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Create" /></td>
    </tr>
  </table>
</form>
{{/ repo }}
