{{# repo }}
<h2>{{# project }}<a href="/projects/{{ slug }}">{{ title }}</a> / <a href="/projects/{{ slug }}{{/ project }}/repos/{{ slug }}">{{ title }}</a></h2>
<hr />

<br/>
title: {{ title }}
<br/>
slug: {{ slug }}
<br/>
service: {{ service }}
<br/>
name: {{ name }}
<br/>
url: {{ url }}

{{/ repo }}
