{{# repo }}
<h2>{{# project }}<a href="/projects/{{ slug }}">{{ title }}</a> / {{/ project }}{{ short_name }}</h2>
<hr />

<p>{{ short_name }} is a code repository which belongs to the {{# project }}{{ title }} {{/ project }}project.</p>

<pre>{{ debug }}</pre>

<table class="fixedwidth">
  <tr>
    <th>file</th>
    <th>type</th>
    <th>hash</th>
  </tr>
{{# files }}
  <tr>
    <td><a href="/projects/{{# project }}{{ slug }}{{/ project }}/repos/{{ id }}/{{ type }}/{{ path }}">{{ path }}</td>
    <td>{{ type }}</td>
    <td>{{ hash }}</td>
  </tr>
{{/ files }}
</table>

<p>The code exists on <a href="http://github.com/">GitHub</a>. You can download the source from the repo's <a href="{{ url }}">GitHub page</a>.</p>

<hr />

<h3>recent commits</h3>
<ul style="margin: 0;" class="fixedwidth">
{{# commits_5 }}
  <li>{{ short_message }} [<a href="/projects/{{#project}}{{slug}}{{/project}}/commits/authors/{{author}}">{{author}}</a>]</li>
{{/ commits_5 }}
  <li><a href="/projects/{{#project}}{{slug}}{{/project}}/commits/repos/{{id}}">more...</a></li>
</ul>

{{/ repo }}
