{{# repo }}
<h2>{{# project }}<a href="{{ show_path }}">{{ title }}</a> / {{/ project }}<a href="{{ show_path }}">{{ title }}</a></h2>
<hr />

<br/>
title: {{ title }}
<br/>
slug: {{ slug }}
<br/>
service: {{ service }}
<br/>
name: {{ name }}
<br/>
url: {{ url }}

{{/ repo }}
