{{# repo }}
<h2>{{{ full_link }}}</h2>
<hr />

<p>{{ title }} is a code repository which belongs to the {{{ project_link }}} project.</p>

{{# service }}
<p>The code exists on <a href="{{ url }}">{{ title }}</a>. You can download the source from the repo's <a href="{{ url }}">{{ title }} page</a>.</p>
{{/ service }}

<table class="fixedwidth">
  <tr>
    <th>file</th>
    <th>type</th>
    <th>hash</th>
  </tr>
{{# parent }}
  <tr>
    <td><a href="{{ show_url }}/tree/{{ parent }}">..</td>
    <td>tree</td>
    <td></td>
  </tr>
{{/ parent }}
{{# files }}
  <tr>
    <td><a href="{{ show_url }}/{{ type }}/{{ path }}">{{ name }}</td>
    <td>{{ type }}</td>
    <td>{{ hash }}</td>
  </tr>
{{/ files }}
</table>

{{/ repo }}
