{{# mine }}
<p style="float: right; margin: 0;"><a href="/services/new">new service</a></p>
{{/ mine }}
<h2>Services Supported by FBI</h2>

{{# services }}

<h3><a href="{{ show_path }}">{{ title }}</a></h3>

{{/ services }}
