<h2>New Service</h2>
<hr />

<style>
table { margin: 0 auto; }
th { text-align: right; }
td, th { width: 50%; }
</style>

<p>{{ message }}</p>

{{# service }}
<form action="/services/new" method="post" name="new_service">
  <table>
    <tr>
      <th>Title:</th>
      <td><input type="text" name="title" value="{{ title }}" /></td>
    </tr>
    <tr>
      <th>Slug:</th>
      <td><input type="text" name="slug" value="{{ slug }}" /> (for use in URLs)</td>
    </tr>
    <tr>
      <th>URL Format:</th>
      <td><input type="text" name="url_format" value="{{ url_format }}" /></td>
    </tr>
    <tr>
      <th>Website:</th>
      <td><input type="text" name="website" value="{{ website }}" /></td>
    </tr>
    <tr>
      <th>Mirrorable:</th>
      <td><input type="checkbox" name="mirrorable" selected="{{ mirrorable }}" /></td>
    </tr>
    <tr>
      <th>Explorable:</th>
      <td><input type="checkbox" name="explorable" selected="{{ explorable? }}" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Create" /></td>
    </tr>
  </table>
</form>
{{/ service }}
