<html>
<head>
  <title>{{title}} - FBI</title>
  
  <style type="text/css">
    .fixedwidth {
      font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
      font-size: 90%;
    }
  </style>
</head>

<body>
{{{yield}}}
</body>
</html>
