<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>pages</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# pages }}
    <li><a href="{{# project }}{{ wiki_path }}{{/ project }}/show/{{ title }}">{{ title }}</a></li>
  {{/ pages }}
    <li><a href="{{# project }}{{ wiki_path }}{{/ project }}/new" style="color: gray;">new page</a></li>
  </ul>
</div>
