<h2>{{# project }}<a href="{{ show_path }}">{{ title }}</a> / <a href="{{ wiki_path }}">wiki</a> / {{/ project }}commit {{# commit }}{{ hash }}{{/ commit }}</h2>

<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>pages</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# pages }}
    <li><a href="{{# project }}{{ wiki_path }}{{/ project }}/show/{{ title }}">{{ title }}</a></li>
  {{/ pages }}
    <li><a href="{{# project }}{{ wiki_path }}{{/ project }}/new" style="color: gray;">new page</a></li>
  </ul>
</div>

{{# commit }}
  {{# author }}
  <p>Author: {{ name }}</p>
  {{/ author }}
  
  <p>Date: {{ date }}</p>
  
  <pre>{{ message }}</pre>
  
  {{# files }}
    <hr />
    <h3><a href="{{# project }}{{ wiki_path }}{{/ project }}/show/{{ path }}">{{ path }}</a></h3>
    <pre>{{ diff }}</pre>
  {{/ files }}
{{/ commit }}

<br clear="all" />
