<h2>editing {{# project }}{{{ show_link }}} / <a href="{{ wiki_path }}{{/ project }}/show/{{ title }}">{{ title }}</a></h2>
<hr />

{{> views/wiki/_sidebar }}

<form method="post" action="{{# project }}{{ wiki_path }}{{/ project }}/save/{{ title }}">
  <textarea name="contents" cols="80" rows="10">{{ contents }}</textarea>
  <br />
  Message: <input type="text" value="Updated via web interface" name="message" size="100" />
  <br />
  <input type="submit" value="Save" />
</form>

<br clear="all" />
