<h2>{{# project }}<a href="{{ show_path }}">{{ title }}</a> / <a href="{{ show_path }}{{/ project }}/wiki/show/{{ title }}">{{ title }}</a> history</h2>

<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>pages</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# pages }}
    <li><a href="{{# project }}{{ show_path }}{{/ project }}/wiki/show/{{ title }}">{{ title }}</a></li>
  {{/ pages }}
    <li><a href="{{# project }}{{ show_path }}{{/ project }}/wiki/new" style="color: gray;">new page</a></li>
  </ul>
</div>

{{{ contents }}}

<br clear="all" />
