<h2>{{# project }}<a href="{{ show_path }}">{{ title }}</a> / <a href="{{ show_path }}/wiki">wiki</a> / {{/ project }}new page</h2>

<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>pages</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# pages }}
    <li><a href="{{# project }}{{ show_path }}{{/ project }}/wiki/show/{{ title }}">{{ title }}</a></li>
  {{/ pages }}
    <li><a href="{{# project }}{{ show_path }}{{/ project }}/wiki/new" style="color: gray;">new page</a></li>
  </ul>
</div>

<form method="post" action="{{# project }}{{ show_path }}{{/ project }}/wiki/new">
  Filename: <input type="text" value="new_page" name="title" size="100" />
  <br />
  <textarea name="contents" cols="80" rows="10">{{ contents }}</textarea>
  <br />
  Message: <input type="text" value="Created via web interface" name="message" size="100" />
  <br />
  <input type="submit" value="Create" />
</form>

<br clear="all" />
