<h2>{{# project }}<a href="{{ show_path }}">{{ title }}</a> / <a href="{{ wiki_path }}">wiki</a> / {{/ project }}new page</h2>
<hr />

{{> views/wiki/_sidebar }}

<form method="post" action="{{# project }}{{ wiki_path }}{{/ project }}/new">
  Filename: <input type="text" value="new_page" name="title" size="100" />
  <br />
  <textarea name="contents" cols="80" rows="10">{{ contents }}</textarea>
  <br />
  Message: <input type="text" value="Created via web interface" name="message" size="100" />
  <br />
  <input type="submit" value="Create" />
</form>

<br clear="all" />
