<h2>{{# project }}{{{ show_link }}} / <a href="{{ wiki_path }}{{/ project }}/show/{{ title }}">{{ title }}</a> [<a href="{{# project }}{{ wiki_path }}{{/ project }}/history/{{ title }}" style="font-size: small;">history</a>]</h2>
<hr />

{{> views/wiki/_sidebar }}

<p>Your changes have been saved.</p>
<p>Return to <a href="{{# project }}{{ wiki_path }}{{/ project }}/show/{{ title }}">{{ title }}</a>.</p>

<br clear="all" />
