<h2>{{# project }}{{{ show_link }}}/ <a href="{{ wiki_path }}{{/ project }}/show/{{ title }}">{{ title }}</a> [<a href="{{# project }}{{ wiki_path }}{{/ project }}/edit/{{ title }}" style="font-size: small;">edit</a>] [<a href="{{# project }}{{ wiki_path }}{{/ project }}/history/{{ title }}" style="font-size: small;">history</a>]</h2>
<hr />

{{> views/wiki/_sidebar }}

{{{ contents }}}

<br clear="all" />
