<h2>{{# project }}<a href="/projects/{{ slug }}">{{ title }}</a> / {{/ project }}{{# page }}{{ title }} {{/ page }}[<a href="/projects/{{# project }}{{ slug }}{{/ project }}/wiki/edit/{{# page }}{{ title }}{{/ page }}" style="font-size: small;">edit</a>] [<a href="/projects/{{# project }}{{ slug }}{{/ project }}/wiki/history/{{# page }}{{ title }}{{/ page }}" style="font-size: small;">history</a>]</h2>

<hr />

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>pages</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# pages }}
    <li><a href="/projects/ooc/wiki/show/{{ title }}">{{ title }}</a></li>
  {{/ pages }}
  </ul>
</div>

{{# page }}
  {{{ render }}}
{{/ page }}

<br clear="all" />
