{{# user }}
{{# is_self }}
<p style="float: right; margin: 0;">This is you! (<a href="/account/edit">edit profile</a>)</p>
{{/ is_self }}
<h2 style="color: #495961;">{{ username }} {{# name }}{{# any? }}<span style="color: #99A7AF;">({{ name }})</span>{{/ any? }}{{/ name }}</h2>
<hr/>

<style>
table.profile th { text-align: left; color: #666; font-weight: normal; }
</style>

<div style="float: right; border-left: 1px solid #999; padding-left: 1em;">
  <h3>projects</h3>
  <ul style="list-style: none; padding: 0 0 0 1em; margin: 0;" class="fixedwidth">
  {{# memberships }}
    <li>{{{ project_link }}} {{# owner? }}(owner){{/ owner? }}</li>
  {{/ memberships }}
  {{# is_self }}
    <li><a href="/projects/new" style="color: gray;">create project</a></li>
  {{/ is_self }}
  </ul>
</div>

<table class="profile">
  <tr>
    <th>Username</th>
    <td>{{ username }}</td>
  </tr>
{{# name }}
{{# any? }}
  <tr>
    <th>Name</th>
    <td>{{ name }}</td>
  </tr>
{{/ any? }}
{{/ name }}
{{# website }}
{{# any? }}
  <tr>
    <th>Website</th>
    <td><a href="{{ website }}" title="{{ display_name }}'s personal website">{{ website }}</a></td>
  </tr>
{{/ any? }}
{{/ website }}
{{# company }}
{{# any? }}
  <tr>
    <th>Company</th>
    <td>{{ company }}</td>
  </tr>
{{/ any? }}
{{/ company }}
{{# location }}
{{# any? }}
  <tr>
    <th>Location</th>
    <td>{{ location }}</td>
  </tr>
{{/ any? }}
{{/ location }}
  <tr>
    <th>Member Since</th>
    <td>{{ created_at }}</td>
  </tr>
</table>

{{/ user }}
